<div class="grid w-full gap-6 md:grid-cols-3 border-t border-gray-200 bg-white px-4 py-5 sm:px-6 justify-center">
    <div class="inline-flex items-center justify-center md:justify-start">
        <div *ngIf="totalItems">
            <p class="text-sm text-gray-700">
                Mostrando
                <span class="font-medium">
                    {{ (config.currentPage - 1) * config.itemsPerPage + 1 ? (config.currentPage - 1) * config.itemsPerPage + 1 : 1 }}
                </span>
                <span class="font-medium">
                    a
                </span>
                <span class="font-medium">
                    {{
                        config.currentPage * config.itemsPerPage <
                        (totalItems ? totalItems : values.length)
                            ? config.currentPage * config.itemsPerPage
                            : totalItems ? totalItems : values.length
                    }}
                </span>
                de
                <span class="font-medium">
                        {{ totalItems ? totalItems : values.length }}
                </span>
                resultados
            </p>
        </div>
    </div>
    <div class="inline-flex items-center justify-center md:justify-center">
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm">
            <button
                [disabled]="config.currentPage === pages[0]"
                class="{{ config.currentPage === pages[0] ? 'cursor-not-allowed' : '' }} relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                (click)="first()"
            >
                <svg-icon src="./assets/icons/chevron-double-left.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
            </button>
            <button
                (click)="previous()"
                [disabled]="config.currentPage === pages[0]"
                class="{{ config.currentPage === pages[0] ? 'cursor-not-allowed' : '' }} px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
                <span class="sr-only">Anterior</span>
                <svg-icon src="./assets/icons/chevron-left.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
            </button>
            <ng-container *ngFor="let page of pages">
                <button
                    [ngClass]="page === config.currentPage
                        ? 'relative z-10 inline-flex items-center bg-blue-700 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700'
                        : 'relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0'"
                    (click)="setCurrent(page)"
                >
                    {{ page }}
                </button>
            </ng-container>
            <button
                (click)="next()"
                [disabled]="config.currentPage === pages[pages.length - 1]"
                class="{{ config.currentPage === pages[pages.length - 1] ? 'cursor-not-allowed' : '' }} px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >
                <span class="sr-only">Siguiente</span>
                <svg-icon src="./assets/icons/chevron-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
            </button>
            <button
                [disabled]="config.currentPage === pages[pages.length - 1]"
                class="{{ config.currentPage === pages[pages.length - 1] ? 'cursor-not-allowed' : '' }} relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
                (click)="last()"
            >
                <svg-icon src="./assets/icons/chevron-double-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
            </button>
        </nav>
    </div>
    <div class="inline-flex items-center justify-center md:justify-end" *ngIf="viewtotalPages">
        <select
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-20 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="per-page-1"
            [(ngModel)]="config.itemsPerPage"
            (ngModelChange)="changePage($event)"
        >
            <option *ngFor="let row of values" [value]="row">{{ row }}</option>
        </select>
    </div>
</div>
