<!--Rick&Morty-->
<div class="container">
    <div class="space bg-blue-950"></div>
    <div class="wrapper absolute m-auto left-0 right-0 w-fit text-center z-40">
        <div class="img-wrapper">
            <span
                class="text-green-400 relative font-black block overflow-hidden w-fit h-max"
                >44</span
            >
        </div>
        <h4 class="text-white font-bold text-2xl">Pagina no encontrada</h4>
        <button
            (click)="removeClass()"
            routerLink="/rick-and-morty/characters"
            type="button"
            class="bg-orange-500 border-0 py-3 px-5 rounded-3xl text-white mt-4 cursor-pointer font-black"
        >
            Ir al Inicio
        </button>
    </div>
</div>
